.top-row >li{
    display: inline-flex;
    list-style-type: none;
}
.top-row > li > a{
    text-decoration: none;
    color: white;
}
nav{
    height: 100%;
    padding: 15px;
    border: 1px solid rgb(170, 170, 170);
    border-top: 0;
    border-radius: 3px;
}
.top-row > li+li{
    border-left: 1px solid white;
    padding-left: 12%;
}
.top-row{
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    color: white;
}

header{
    display: flex;
    background-color: black;
    color: white;
    padding-left: 3%;
    font-family: sans-serif;
    opacity: .7;
}

body{
    background-image: url("img/bg2.png");
    margin: 0;
    padding: 0;
    color: white;
}

html{
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    /* /margin-top: 10%; */
}

#below, #above{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
}

#above{
    margin-top: 7%;
}

#front, #album-art{
    border: 1px solid #07686e;
    border-radius: 2px;
}

#album-art{
    position: absolute;
    top: 40%;
    width: 180px;
    height: 180px;
}

.logorow{
    position: absolute;
    top: 50%;
    left: 40.5%;
}

.logo{
    width: 10%;
}

.track-list{
    list-style-type: none;
    position: absolute;
    top: 38%;
    left: 25%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: rgb(100, 100, 100);
    padding-left: 0px;
    opacity: 80%;
}

.track-list > li{
    padding: 10px 40px 10px 40px;
    border: 1px solid black;
}

.track-list > li:hover{
    background-color: rgb(120, 120, 120);
    cursor: pointer;
}

.track-player{
    padding-top: 80px;
}

.about-page{
    text-align: center;
    padding-top: 15%;
    font-size: xx-large;
    font-family: sans-serif;
    color: rgb(200, 200, 200);
}

.about-gif{
    position: absolute;
    padding-top: 7%;
}

#right-gif{
    padding-left: 70%;
}
